* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
}

body {
    margin: 0;
    size: 100vh;
}

h1, h2 {
    margin-left: 1em;
    font-weight: bold;
}

.headerContainer {
    background-color: #3CA9AE;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.headerContainer > * {
    margin-left: 4em;
    margin-right: 4em;
}

.headerContainer img {
    height: 1em;
}

section {
    display: flex;
    flex-flow: column;
    height: 80vh;
}

section h1 {
    margin-top: 3rem;
    margin-bottom: 0;
    margin-left: 5em;
    font-size: 2em;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}

.usersContainer, .registersContainer {
    background-color: #F8F8F8;
    height: 80%;
    width: 40%;
    overflow-y: auto;
    border-radius: 10px;
}

.user {
    background-color: #E2E2E2;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    margin: 1em;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2em;
}

.register {
    background-color: #E2E2E2;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    margin: 1em;
    align-items: center;
    justify-content: space-around;
}

.user:hover {
    background-color: #d2d0d0;
    cursor: pointer;
}

.datos1 p:first-child {
    font-weight: bold;
}

.save {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: auto;
}

button {
    background: #3AA9AE;
    border-radius:28px;
	border:1px solid #297478;
	cursor:pointer;
    color:#ffffff;
    padding:12px 37px;
    font-size: 0.9em;
    width: auto;
    height: auto;
}

button:hover {
    background: #328A8E;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#botonSalir {
    font-size: 3em;
    margin-left: 1.5em;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #3AA9AE;
    font-weight: bold;
}

#botonSalir:hover {
    color: #328A8E;
}

footer img {
    margin-right: 2em;
    height: 2em;
}
